@import '~antd/dist/antd.css';
.App {
  margin-top: 0px;
}

.text-highlight {
  color:#0da9ef !important;
}


.App .navbar-brand {
  font-weight: bold;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #0da9ef !important;
  background:white;
   border-top:2px solid #0da9ef;
}
