html,
body,
#root{
  height: 100%;
}

h1,h2,h3,h4,h5,h6 {
  color:#444;
}


.text-highlight {
  color:#0da9ef !important;
}

.text-white {
  color:white;
}

.App .navbar-brand {
  font-weight: bold;
}